@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);


.ok-col {
	background-image: url('images/ok.png');
	background-size: contain;
}

.fail-col {
	background-image: url('images/error.png');
	background-size: contain;
}

.cancel-col {
	background-image: url('images/stop.png');
	background-size: contain;
}

.run-btn {
	background-image: url('images/run.png');
	background-size: contain;
}

.donate-btn {
	background-image: url('images/bitcoin.png');
	background-size: contain;
}

.configure-btn {
	background-image: url('images/configure.png');
	background-size: contain;
}

.configure-item {
	background-image: url('images/user.png');
	background-size: contain;
}

.sysinfo-item {
	background-image: url('images/info.png');
	background-size: contain;
}

.dryrun-item {
	background-image: url('images/generic.png');
	background-size: contain;
}

.schedule-item {
	background-image: url('images/schedule.png');
	background-size: contain;
}

.help-item {
	background-image: url('images/help.png');
	background-size: contain;
}

textarea.logcatviewer {
	font-family: 'Droid Sans Mono', monospace	!important;
	font-size: 8pt								!important;
	background: #300A24							!important;
	color: #FFFFFF								!important;
	padding: 5px								!important;
	overflow: hidden							!important;
	cursor: text								!important;
	line-height: 1.2em							!important;
	white-space: pre							!important;
	word-wrap: normal							!important;
	overflow: auto								!important;
}
