@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);


img.ok-col {
	background-image: url('images/accept.png');
}

img.fail-col {
	background-image: url('images/error.png');
}

img.cancel-col {
	background-image: url('images/stop.png');
}

span.run-btn {
	background-image: url('images/run.png');
	background-size: contain;
}

span.donate-btn {
	background-image: url('images/bitcoin.png');
	background-size: contain;
}

textarea.logcatviewer {
	font-family: 'Droid Sans Mono', monospace	!important;
	font-size: 8pt								!important;
	background: #300A24							!important;
	color: #FFFFFF								!important;
	padding: 5px								!important;
	overflow: hidden							!important;
	cursor: text								!important;
	line-height: 1.2em							!important;
	white-space: pre							!important;
	word-wrap: normal							!important;
	overflow: auto								!important;
}
